<% if  params[:controller].eql? "issues" and params[:action].eql? "show" and ( Setting.plugin_redmine_spent_time_in_issue_description['report_location'].eql? "below_revisions" or Setting.plugin_redmine_spent_time_in_issue_description['report_location'].eql? "above_revisions") and User.current.allowed_to?(:view_time_entries, @project) and @issue.present?  and  @issue.time_entries.present? %>

     <script type="text/javascript">
        $(document).ready(function() {

            <% if @issue.changesets.present? %>
              lonely_spenttime = ""
            <% else %>
              lonely_spenttime = " lonely_spenttime"
            <% end %>

            var spent_time = [
            <% @issue.time_entries.last( Setting.plugin_redmine_spent_time_in_issue_description['spent_time_max_display'].to_i ).each_with_index do |entry, index| %>
              <%= "," if index > 0 %> {

                <% if Setting.plugin_redmine_spent_time_in_issue_description['time_format'].eql? "human"
                    time_spent = humanized_time( entry.hours )
                   else
                    time_spent = entry.hours
                   end
               %>

              <%=raw '"spent_on":"' << entry.spent_on.strftime("%m/%d/%Y") << '",' if Setting.plugin_redmine_spent_time_in_issue_description['display_columns'].include? 'spentOn' %>
              <%=raw '"user":"' <<  entry.user.to_s << '",' if Setting.plugin_redmine_spent_time_in_issue_description['display_columns'].include? 'user' %>
              <%=raw '"hours":"' << time_spent << '",' if Setting.plugin_redmine_spent_time_in_issue_description['display_columns'].include? 'hours' %>
              <%=raw '"activity":"' << entry.activity.to_s << '",'  if Setting.plugin_redmine_spent_time_in_issue_description['display_columns'].include? 'activity' %>
              <%=raw '"comments":"' << entry.comments << '",' if Setting.plugin_redmine_spent_time_in_issue_description['display_columns'].include? 'comments' %>

              }
            <% end %>
              ];

            var toggle = "odd"
            var time_entries = ' <div id="issue-spenttime" class="'+lonely_spenttime+'"><h3>Spent Time Report</h3>'
              $.each( spent_time, function(idnex,entry){
                  time_entries += '<div class="spenttimeentry '+toggle+'">'
                time_entries += '<p>'
                if ( entry.spent_on !== undefined){ time_entries += '<span>' + entry.spent_on + '</span>' }
                if ( entry.user !== undefined){ time_entries += '<span>' + entry.user + '</span>' }
                if ( entry.activity !== undefined){ time_entries += '<span>' + entry.activity + '</span>' }
                if ( entry.hours !== undefined){ time_entries += '<span>' + entry.hours + '</span>' }
                if ( entry.comments !== undefined){ time_entries += '<br /> ' + entry.comments }
                time_entries += '</p>'
                time_entries += '</div>'

                if( toggle === "odd" ){
                  toggle = "even"
                  }else{
                  toggle = "odd"
                }

                  });

            <% if @issue.time_entries.count > Setting.plugin_redmine_spent_time_in_issue_description['spent_time_max_display'].to_i %>
              time_entries += '<div class="spenttimeentry '+toggle+'">'
              time_entries += '<%=raw link_to "#{t "plugin_spent_time_in_issue.seeAllCount", count: @issue.time_entries.count}", issue_time_entries_path(  @issue )  %>'
              time_entries += '</div>'
            <% end %>

            time_entries += '</div>'

            <% if @issue.changesets.present? and Setting.plugin_redmine_spent_time_in_issue_description['report_location'].eql? "below_revisions" %>
              $("#issue-changesets").append(time_entries)
            <% elsif @issue.changesets.present? %>
              $("#issue-changesets").prepend(time_entries)
            <% else %>
              if ( $("#history").length < 0 ){
                $("#history").before(time_entries)
              }else{
                $("div.issue:first").after(time_entries)
              }
            <% end %>
        });

    </script>
<% end %>
