<% if User.current.allowed_to?(:view_time_entries, @project) and @issue.time_entries.present? %>
  <hr />
  <p><strong><%= l(:spid_time_entries)%></strong> <%= link_to l(:spid_time_entries_count, @issue.time_entries.count.to_s ) , project_issue_time_entries_path( @project , @issue ) if @issue.time_entries.count > Setting.plugin_redmine_spent_time_in_issue_description['spent_time_max_display'].to_i %> </p>
<%# .gsub(/total_time_entries/, @issue.time_entries.count.to_s ) %>

  <table class="issue-spent-time-description">
    <thead>
      <th><%= l(:spid_spent_on) %></th>
      <th><%= l(:spid_user) %></th>
      <th><%= l(:spid_hours) %></th>
      <th><%= l(:spid_comments) %></th>
    </thead>
    <tbody>
      <% @issue.time_entries.last( Setting.plugin_redmine_spent_time_in_issue_description['spent_time_max_display'].to_i ).each do |entry| %>
        <tr>
          <td><%= entry.spent_on.strftime("%m/%d/%Y") %></td>
          <td><%= link_to_user( entry.user ) %></td>
          <td><%= entry.hours %></td>
          <td><%= entry.comments %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'issue_spent_time_description', :plugin => 'redmine_spent_time_in_issue_description' %>
<% end %>
