<hr />
<p>
  <strong><%= t('plugin_spent_time_in_issue.timeEntries') %></strong>
  <% if @time_entries.count > Setting.plugin_redmine_spent_time_in_issue_description['spent_time_max_display'].to_i %>
      <%= link_to "#{t "plugin_spent_time_in_issue.seeAllCount", count: @time_entries.count}", issue_time_entries_path(  @issue )  %>
  <% end %>
</p>

<table class="issue-spent-time-description">
  <thead>
    <% %w( spentOn user hours comments activity).each do |column_value| %>
      <%= content_tag(:th, t("plugin_spent_time_in_issue." << column_value ) ) if Setting.plugin_redmine_spent_time_in_issue_description['display_columns'].include? column_value %>
    <%end %>
    <%= content_tag(:th ) %>
  </thead>
  <tbody>
  <% @time_entries.last( Setting.plugin_redmine_spent_time_in_issue_description['spent_time_max_display'].to_i ).each do |entry| %>
      <tr>
        <%= content_tag(:td, format_date( entry.spent_on ) ) if spent_on_shown? %>
        <%= content_tag(:td, link_to_user( entry.user )) if user_shown? %>
        <%= content_tag(:td, report_time_spent(entry) ) if report_time_shown? %>
        <%= content_tag(:td, entry.comments ) if comment_shown? %>
        <%= content_tag(:td, entry.activity ) if activity_shown? %>
        <% if entry.editable_by?(User.current) -%>
          <td>
          <%= link_to image_tag('edit.png'), edit_time_entry_path(entry, :back_url => request.original_url),
            :title => l(:button_edit)
             %>

          <%= link_to image_tag('delete.png'), time_entry_path(entry, :back_url => request.original_url),
            :data => {:confirm => l(:text_are_you_sure)},
            :method => :delete,
            :title => l(:button_delete) %>
          <td>
        <% end -%>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'issue_spent_time_description', :plugin => 'redmine_spent_time_in_issue_description' %>
<% end %>
