<table>
  <tbody>
    <tr>
      <th><%= t('plugin_spent_time_in_issue.max_display') %></th>
      <td>
        <input type="text" id="settings_spent_time_max_display"
                     value="<%= settings['spent_time_max_display'] %>"
                     name="settings[spent_time_max_display]" digits="true" required/>
      </td>
    </tr>

    <tr>
      <th><%= t('plugin_spent_time_in_issue.time_format') %></th>
      <td>
        <input type="radio" name="settings[time_format]" value="decimal"
                     <%= "checked='true'" unless settings['time_format'].eql? "human" %>
                     required />
        <%= t('plugin_spent_time_in_issue.time_format_decimal') %>
         <br />

        <input type="radio" name="settings[time_format]" value="human"
                     <%= "checked='true'" if settings['time_format'].eql? "human" %>
                     required/>

        <%= t('plugin_spent_time_in_issue.time_format_human') %>
      </td>
    </tr>

    <tr>
      <th> <%= t("plugin_spent_time_in_issue.display_cols") %> </th>
      <td>
        <select name="settings[display_columns][]" multiple style="width: 75px; height: 75px;">
          <% %w( spentOn user hours comments activity).each do |column| %>
            <option value="<%= column %>" <%= ( settings['display_columns'].include? column) ? "Selected" : "" %>><%= t("plugin_spent_time_in_issue."<< column )%></option>
          <% end %>
        </select>
      </td>
    <tr>

    <tr>
      <th style="vertical-align:top" ><%= t('plugin_spent_time_in_issue.max_display') %></th>
      <td>
        <div class="placement_examples" >
         <input type="radio" name="settings[report_location]" value="below_revisions" <%= "checked" if settings['report_location'].eql? "below_revisions" %> >Below Revisions
          <br />
         <%= image_tag('spent_time_report_below_revisions.png', :plugin => 'redmine_spent_time_in_issue_description') %>
        </div>
        <div class="placement_examples" >
         <input type="radio" name="settings[report_location]" value="above_revisions" <%= "checked" if settings['report_location'].eql? "above_revisions" %> >Above Revisions
          <br />
         <%= image_tag("spent_time_report_above_revisions.png", :plugin => 'redmine_spent_time_in_issue_description') %>
        </div>
        <div class="placement_examples" >
          <input type="radio" name="settings[report_location]" value="ticket_body" <%= "checked" if settings['report_location'].eql? "ticket_body" or settings['report_location'].nil? %> >Ticket Body
          <br />
          <%= image_tag("spent_time_report_in_ticket_body.png", :plugin => 'redmine_spent_time_in_issue_description') %>
        </div>
      </td>
    </tr>

  </tbody>
</table>


<% content_for :header_tags do %>
    <%= javascript_include_tag 'jquery.validate.js', :plugin => 'redmine_spent_time_in_issue_description' %>
    <script type="text/javascript">
        $(document).ready(function() {

          _form = $("form[action='/settings/plugin/redmine_spent_time_in_issue_description']");

          _form.validate({
            errorPlacement: function(error, element){
              error.appendTo(_form);
            }
            });
        });
    </script>
    <style type="text/css">
      label.error{ color: red; }
      div.placement_examples{ float: right; padding-right: 15px }
      div.placement_examples > img { border: 1px solid #505050; margin-top: 10px; }
    </style>
<% end %>
